* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7fafc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
}

body .header {
  width: 100%;
  height: 86px;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  position: absolute;
  margin-left: 22%;
  margin-top: 0.5%;
  width: 100%;
}

.searchTerm {
  width: 30%;
  border: 2px solid #0d6efd;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
}

.searchButton {
  border: 0.1px solid #0d6efd;
  background: #0d6efd;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  width: 5%;
}
.category {
  border: 2px solid #0d6efd;
  background: white;
  color: #fff;
  width: 8%;
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 400;
}
.scaticon {
  margin-top: -5%;
}
.hiddenicon {
  display: none;
}
body .logo {
  position: absolute;
  width: 103px;
  height: 25px;
  top: 9px;
  left: 11px;
  margin-left: 8%;
  margin-top: 1%;
}
body .element {
  position: absolute;
  width: 36px;
  height: 40px;
  top: 0;
  left: 7px;
}
body .path {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 50%;
  left: 2px;
}
.brand {
  position: absolute;
  top: 5%;
  left: 180px;
}
body .layout-navbar {
  position: relative;
  width: 100%;
  height: 56px;
  top: 86px;
}
nav {
  margin-right: 98%;
}
.navicon {
  width: 24px;
  height: 24px;
  margin-bottom: -1%;
  margin-left: 17%;
}
.navicon2 {
  width: 24px;
  height: 24px;
  margin-bottom: -1%;
}
.nav-btn {
  display: none;
}
#nav-check {
  display: none;
}
.nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: var(--dark, #1c1c1c);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

body footer {
  position: absolute;
  width: 1440px;
  height: 324px;
  top: 3242px;
  left: 0;
  background-color: #ffffff;
  margin-left: 1.5%;
}
body .col {
  width: 88px;
  height: 137px;
  left: 964px;
  position: absolute;
  top: 40px;
}
body .group {
  position: absolute;
  width: 278px;
  height: 157px;
  top: 40px;
  left: 129px;
}
body .p {
  position: absolute;
  width: 276px;
  top: 61px;
  left: 0;
  font-family: var(--text-info-font-family);
  font-weight: var(--text-info-font-weight);
  color: var(--gray-600);
  font-size: var(--text-info-font-size);
  letter-spacing: var(--text-info-letter-spacing);
  line-height: var(--text-info-line-height);
  font-style: var(--text-info-font-style);
}
body .group-2 {
  position: absolute;
  width: 200px;
  height: 32px;
  top: 125px;
  left: 0;
}
.brandf {
  margin-left: 16%;
  margin-top: 4.7%;
}
.imgf {
  margin-left: -18%;
  position: absolute;
  left: 50px;
  top: 3px;
}
.elementf {
  margin-left: -18%;
  position: absolute;
  left: 55px;
  top: 4px;
}
body .overlap-13 {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 20px;
  left: 960px;
  background-color: #e3f0ff;
  border-radius: 6px;
}
body .banner {
  position: absolute;
  width: 665px;
  height: 360px;
  top: 20px;
  left: 275px;
  background-image: url(https://s3-alpha-sig.figma.com/img/15be/e8c1/b9d77e50133ea130b3270887efd96310?Expires=1694995200&Signature=mPq37x0ALVLf2mWwHWxBU0sjiWfvVRJA9sw4~MQW53Kbp5UTYe6gZUvzeqJZDDI9YrA25vRVDu~vi3mfa~TZcmn1S45bwXymT2L957B~tevRaU5PMMu~Hjyj9fw0P46gRHtx2ghqv-mrtD3dJpzdlhl~SBZtKjmzKBbVV69DwN~O-CCL-qsINYC1G2lb8PjNefxBEAfONOe1UUhD5tK3aUL~wCZmd0OOXeYFs~We5szTnAWqcCUSj56dwNiRBu3Lqiwv-~0oSaMKab29IWEsCfOq1R0X4yGZ7Rd1pHTc~daH2vLyZtP4A7TIk1VXEtDseLfJVR~sm1RHSBAeYs84lw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-size: 100% 100%;
}
body .text-5 {
  position: absolute;
  width: 257px;
  height: 73px;
  top: 53px;
  left: 45px;
}
body .text-wrapper-23 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--base-colordark);
  font-size: 28px;
  letter-spacing: 0;
}
body .text-wrapper-24 {
  position: absolute;
  top: 34px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--base-colordark);
  font-size: 32px;
  letter-spacing: 0;
}
body .button {
  display: inline-flex;
  height: 40px;
  padding: 0px 16px;
  top: 143px;
  left: 46px;
  background-color: var(--white);
  border: 1px solid;
  box-shadow: var(--shadow-sm);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  border-radius: 6px;
  border-color: var(--white);
  all: unset;
  box-sizing: border-box;
}
body .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  all: unset;
  box-sizing: border-box;
}
body .text-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-btn-btn-normal-font-family);
  font-weight: var(--text-btn-btn-normal-font-weight);
  color: var(--dark);
  font-size: var(--text-btn-btn-normal-font-size);
  text-align: center;
  letter-spacing: var(--text-btn-btn-normal-letter-spacing);
  line-height: var(--text-btn-btn-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-btn-btn-normal-font-style);
}
.btnmore {
  display: inline-flex;
  height: 40px;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--white, #fff);
  background: var(--white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
  position: absolute;
  top: 150px;
  left: 45px;
}
body .menu {
  position: absolute;
  top: 20px;
  left: 14px;
}
.sec1hidden {
  display: none;
}
body .nav-base-pills-text {
  top: 40px;
  position: absolute;
  width: 250px;
  height: 40px;
  left: 0;
  overflow: hidden;
}
body .background {
  top: 1243px;
  position: absolute;
  width: 250px;
  height: 40px;
  left: 576px;
}
body .text-6 {
  position: absolute;
  width: 230px;
  top: 10px;
  left: 10px;
  font-family: var(--text-base-font-family);
  font-weight: var(--text-base-font-weight);
  color: var(--gray-600);
  font-size: var(--text-base-font-size);
  letter-spacing: var(--text-base-letter-spacing);
  line-height: var(--text-base-line-height);
  font-style: var(--text-base-font-style);
}

.nav-base-pills-text-2,
.nav-base-pills-text-3,
.nav-base-pills-text-4,
.nav-base-pills-text-5,
.nav-base-pills-text-6,
.nav-base-pills-text-7,
.nav-base-pills-text-8,
.nav-base-pills-text-9 {
  position: absolute;
  width: 250px;
  height: 40px;
  left: 0;
  overflow: hidden;
}
body .nav-base-pills-text-2 {
  top: 160px;
}
body .nav-base-pills-text-3 {
  top: 80px;
}
body .nav-base-pills-text-4 {
  top: 200px;
}
body .nav-base-pills-text-5 {
  top: 280px;
}
body .nav-base-pills-text-6 {
  top: 320px;
}
body .nav-base-pills-text-7 {
  top: 120px;
}

body .nav-base-pills-text-8 {
  top: 240px;
}
body .nav-base-pills-text-9 {
  height: 40px;
}

body .hi-user-let-s-get {
  position: absolute;
  top: 18px;
  left: 63px;
  font-family: var(--text-base-font-family);
  font-weight: var(--text-base-font-weight);
  color: var(--dark);
  font-size: var(--text-base-font-size);
  letter-spacing: var(--text-base-letter-spacing);
  line-height: var(--text-base-line-height);
  font-style: var(--text-base-font-style);
}
body .button-btn-basic-3 {
  display: flex;
  width: 180px;
  top: 70px;
  left: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  border-radius: 6px;
}
.loginbtn {
  border-radius: 6px;
  border: 1px solid var(--gray-300, #dee2e7);
  background: var(--white, #fff);
  display: flex;
  width: 180px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.joinbtn {
  border-radius: 6px;
  border: 1px solid var(--gray-300, #dee2e7);
  background: #127fff;
  display: flex;
  width: 180px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .avatar {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 14px;
  left: 10px;
}
body .block {
  top: 180px;
  position: absolute;
  width: 202px;
  height: 95px;
  left: 960px;
}
body .overlap-group-8 {
  position: relative;
  width: 200px;
  height: 95px;
  background-color: #f38331;
  border-radius: 6px;
}
body .text-wrapper-25 {
  position: absolute;
  width: 144px;
  top: 16px;
  left: 16px;
  color: var(--white, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
body .block-2 {
  top: 285px;
  position: absolute;
  width: 202px;
  height: 95px;
  left: 960px;
}
body .overlap-14 {
  position: relative;
  width: 200px;
  height: 95px;
  background-color: #54bcc3;
  border-radius: 6px;
}
body .text-wrapper-26 {
  position: absolute;
  width: 140px;
  top: 16px;
  left: 16px;
  color: var(--white, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

body .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--text-title-font-family);
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  font-size: var(--text-title-font-size);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  white-space: nowrap;
  font-style: var(--text-title-font-style);
}

body .text-wrapper-2 {
  position: absolute;
  top: 32px;
  left: 0;
  color: var(--gray-500, #8b96a5);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

body .text-wrapper-3 {
  position: absolute;
  top: 59px;
  left: 0;
  color: var(--gray-500, #8b96a5);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

body .text-wrapper-4 {
  position: absolute;
  top: 86px;
  left: 0;
  color: var(--gray-500, #8b96a5);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

body .text-wrapper-5 {
  top: 113px;
  position: absolute;
  left: 0;
  color: var(--gray-500, #8b96a5);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

body .overlap-group-wrapper {
  position: absolute;
  width: 17px;
  height: 21px;
  top: 10px;
  left: 11px;
  opacity: 0.7;
}

body .overlap-group {
  position: relative;
  height: 21px;
}

body .payment-method-wrapper {
  position: absolute;
  width: 1440px;
  height: 68px;
  top: 256px;
  left: 0;
  background-color: #eff2f4;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #dde1e6;
}

body .payment-method {
  position: relative;
  width: 1178px;
  height: 24px;
  top: 22px;
  left: 127px;
}

body .group-3 {
  position: absolute;
  width: 109px;
  height: 24px;
  top: 0;
  left: 1069px;
}

body .image-flags-icon {
  width: 24px;
  height: 17px;
  top: 3px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/us-2x-2@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 30px;
  font-family: var(--text-normal-font-family);
  font-weight: var(--text-normal-font-weight);
  color: var(--base-colorgray-800);
  font-size: var(--text-normal-font-size);
  text-align: right;
  letter-spacing: var(--text-normal-letter-spacing);
  line-height: var(--text-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-normal-font-style);
}

body .icon-control-expand {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 83px;
}

body .text-wrapper-7 {
  position: absolute;
  width: 320px;
  top: 0;
  left: 0;
  font-family: var(--text-normal-font-family);
  font-weight: var(--text-normal-font-weight);
  color: var(--base-colorgray-800);
  font-size: var(--text-normal-font-size);
  letter-spacing: var(--text-normal-letter-spacing);
  line-height: var(--text-normal-line-height);
  font-style: var(--text-normal-font-style);
}

body .col-2 {
  width: 126px;
  height: 129px;
  left: 1129px;
  position: absolute;
  top: 40px;
}

body .misc-market-button {
  position: absolute;
  width: 124px;
  height: 42px;
  top: 37px;
  left: 0;
}

body .img-wrapper {
  position: relative;
  height: 42px;
  background-color: #1c1c1c;
  border-radius: 6px;
}

body .subtract {
  position: absolute;
  width: 102px;
  height: 25px;
  top: 9px;
  left: 11px;
}

body .group-wrapper {
  position: absolute;
  width: 124px;
  height: 42px;
  top: 87px;
  left: 0;
}

body .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: var(--text-title-font-family);
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  font-size: var(--text-title-font-size);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  white-space: nowrap;
  font-style: var(--text-title-font-style);
}

body .col-3 {
  width: 118px;
  height: 137px;
  left: 765px;
  position: absolute;
  top: 40px;
}

body .col-4 {
  width: 100px;
  height: 137px;
  left: 611px;
  position: absolute;
  top: 40px;
}

body .col-5 {
  width: 91px;
  height: 137px;
  left: 466px;
  position: absolute;
  top: 40px;
}

body .section8 {
  position: absolute;
  width: 1440px;
  height: 190px;
  top: 3052px;
  left: 0;
  background-color: #eff2f4;
  margin-left: 1.4%;
}

body .text-form {
  position: relative;
  width: 617px;
  height: 113px;
  top: 38px;
  left: 412px;
}

body .form {
  position: absolute;
  width: 392px;
  height: 40px;
  top: 73px;
  left: 160px;
}
.input {
  width: 440px;
  height: 75px;
  color: #1c1c1c;
  border: 0.5px solid #dee2e7;
  border-radius: 4px;
}
.subs {
  width: 236px;
  height: 29px;
  border: 0.5px solid transparent;
  border-radius: 4px;
  padding-bottom: 2%;
}
.textarea {
  width: 440px;
  height: 40px;
  color: #1c1c1c;
  border: 0.5px solid #dee2e7;
  border-radius: 4px;
}
.qte {
  width: 200px;
  height: 40px;
  border: 0.5px solid #dee2e7;
  border-radius: 4px;
}
.qte::placeholder {
  color: black;
  padding: 3%;
}
::placeholder {
  padding: 3%;
}
.place::placeholder {
  font-size: 16px;
  color: #8b96a5;
}
.text-11::placeholder {
  color: black;
}
body .form-icon-input {
  position: absolute;
  width: 274px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/---background-20.svg);
  background-size: 100% 100%;
}

body .icon-email {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 9px;
  left: 8px;
}

body .text {
  position: absolute;

  top: 10px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 400;

  font-size: 16px;
  letter-spacing: 0;
}

body .button-btn-basic {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 16px;
  left: 282px;
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    rgb(18.06, 127.05, 255) 0%,
    rgb(0, 103.06, 255) 100%
  );
  height: 40px;
  position: absolute;
  top: 0;
  all: unset;
  box-sizing: border-box;
}

body .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-btn-btn-normal-font-family);
  font-weight: var(--text-btn-btn-normal-font-weight);
  color: var(--white);
  font-size: var(--text-btn-btn-normal-font-size);
  text-align: center;
  letter-spacing: var(--text-btn-btn-normal-letter-spacing);
  line-height: var(--text-btn-btn-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-btn-btn-normal-font-style);
}

body .text-3 {
  position: absolute;
  width: 621px;
  height: 52px;
  top: 0;
  left: 0;
}

body .bell-ross-nightlum {
  width: 617px;
  top: 28px;
  left: 0;
  font-weight: var(--text-info-font-weight);
  color: var(--base-colorgray-800);
  text-align: center;
  letter-spacing: var(--text-info-letter-spacing);
  line-height: var(--text-info-line-height);
  position: absolute;
  font-family: var(--text-info-font-family);
  font-size: var(--text-info-font-size);
  font-style: var(--text-info-font-style);
  color: var(--base-color-gray-800, #606060);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

body .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 174px;
  font-family: var(--title-h4-font-family);
  font-weight: var(--title-h4-font-weight);
  color: var(--base-colordark);
  font-size: var(--title-h4-font-size);
  text-align: center;
  letter-spacing: var(--title-h4-letter-spacing);
  line-height: var(--title-h4-line-height);
  white-space: nowrap;
  font-style: var(--title-h4-font-style);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}

body .section7 {
  position: absolute;
  width: 1179px;
  height: 138px;
  top: 2868px;
  left: 131px;
}

body .group-4 {
  position: absolute;
  width: 1177px;
  height: 82px;
  top: 56px;
  left: 0;
}

body .item-country {
  position: absolute;
  width: 221px;
  height: 36px;
  top: 0;
  left: 0;
}

body .image-flags-icon-2 {
  width: 28px;
  height: 20px;
  top: 8px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/ae-2x-2@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .overlap-group-2 {
  position: absolute;
  width: 116px;
  height: 36px;
  top: -1px;
  left: 39px;
}

body .name {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--text-normal-font-family);
  font-weight: var(--text-normal-font-weight);
  color: var(--dark);
  font-size: var(--text-normal-font-size);
  letter-spacing: var(--text-normal-letter-spacing);
  line-height: var(--text-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-normal-font-style);
}

body .subtitle {
  position: absolute;
  top: 20px;
  left: 0;
  font-family: var(--text-small-font-family);
  font-weight: var(--text-small-font-weight);
  color: var(--gray-500);
  font-size: var(--text-small-font-size);
  letter-spacing: var(--text-small-letter-spacing);
  line-height: var(--text-small-line-height);
  font-style: var(--text-small-font-style);
}

body .layout-item-country {
  top: 46px;
  left: 0;
  position: absolute;
  width: 221px;
  height: 36px;
}

body .image-flags-icon-3 {
  width: 28px;
  height: 20px;
  top: 8px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/dk-2x@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .overlap-2 {
  position: absolute;
  width: 103px;
  height: 36px;
  top: -1px;
  left: 39px;
}

body .item-country-2 {
  top: 0;
  left: 478px;
  position: absolute;
  width: 221px;
  height: 36px;
}

body .image-flags-icon-4 {
  width: 28px;
  height: 20px;
  top: 8px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/us-2x@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .overlap-3 {
  position: absolute;
  width: 101px;
  height: 36px;
  top: -1px;
  left: 39px;
}

body .item-country-3 {
  top: 46px;
  left: 478px;
  position: absolute;
  width: 221px;
  height: 36px;
}

body .item-country-4 {
  top: 0;
  left: 239px;
  position: absolute;
  width: 221px;
  height: 36px;
}

body .image-flags-icon-5 {
  width: 28px;
  height: 20px;
  top: 8px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/au-2x@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .overlap-4 {
  position: absolute;
  width: 83px;
  height: 36px;
  top: -1px;
  left: 39px;
}

body .item-country-5 {
  top: 46px;
  left: 239px;
  position: absolute;
  width: 221px;
  height: 36px;
}

body .image-flags-icon-6 {
  width: 28px;
  height: 20px;
  top: 8px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/fr-2x@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .overlap-5 {
  position: absolute;
  width: 107px;
  height: 36px;
  top: -1px;
  left: 39px;
}

body .item-country-6 {
  top: 0;
  left: 717px;
  position: absolute;
  width: 221px;
  height: 36px;
}

body .image-flags-icon-7 {
  width: 28px;
  height: 20px;
  top: 8px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/ru-2x@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .overlap-6 {
  position: absolute;
  width: 80px;
  height: 36px;
  top: -1px;
  left: 39px;
}

body .item-country-7 {
  top: 46px;
  left: 717px;
  position: absolute;
  width: 221px;
  height: 36px;
}

body .image-flags-icon-8 {
  width: 28px;
  height: 20px;
  top: 8px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/cn-2x@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .item-country-8 {
  top: 0;
  left: 956px;
  position: absolute;
  width: 221px;
  height: 36px;
}

body .image-flags-icon-9 {
  width: 28px;
  height: 20px;
  top: 8px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/it-2x@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .overlap-7 {
  position: absolute;
  width: 76px;
  height: 36px;
  top: -1px;
  left: 39px;
}

body .item-country-9 {
  top: 46px;
  left: 956px;
  position: absolute;
  width: 221px;
  height: 36px;
}

body .image-flags-icon-10 {
  width: 28px;
  height: 20px;
  top: 8px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/gb-2x@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--title-h3-font-family);
  font-weight: var(--title-h3-font-weight);
  color: var(--base-colordark);
  font-size: var(--title-h3-font-size);
  letter-spacing: var(--title-h3-letter-spacing);
  line-height: var(--title-h3-line-height);
  white-space: nowrap;
  font-style: var(--title-h3-font-style);
  color: var(--base-color-dark, #1c1c1c);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
}

body .section6 {
  position: absolute;
  width: 1180px;
  height: 256px;
  top: 2582px;
  left: 130px;
}

body .element-2 {
  position: absolute;
  width: 282px;
  height: 200px;
  top: 56px;
  left: 900px;
}

body .overlap-group-3 {
  position: relative;
  width: 280px;
  height: 200px;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/bg-11.svg);
  background-size: 100% 100%;
}

body .bell-ross-nightlum-2 {
  position: absolute;
  width: 175px;
  top: 136px;
  left: 20px;
  font-family: var(--text-title-font-family);
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  font-size: var(--text-title-font-size);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  font-style: var(--text-title-font-style);
}

body .overlap-group-4 {
  position: absolute;
  width: 280px;
  height: 149px;
  top: 0;
  left: 0;
}

body .img-2 {
  position: absolute;
  width: 280px;
  height: 120px;
  top: 0;
  left: 0;
}

body .ellipse {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 90px;
  left: 202px;
  background-color: #d1e6ff;
  border-radius: 29.5px;
  border: 2px solid;
  border-color: var(--base-colorwhite);
}

body .img-3 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 108px;
  left: 220px;
}

body .overlap-wrapper {
  position: absolute;
  width: 282px;
  height: 200px;
  top: 56px;
  left: 600px;
}

body .element-3 {
  position: absolute;
  width: 282px;
  height: 200px;
  top: 56px;
  left: 300px;
}

body .element-4 {
  width: 282px;
  height: 200px;
  top: 56px;
  position: absolute;
  left: 0;
}

body .bell-ross-nightlum-3 {
  width: 215px;
  top: 136px;
  left: 20px;
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  position: absolute;
  font-family: var(--text-title-font-family);
  font-size: var(--text-title-font-size);
  font-style: var(--text-title-font-style);
}

body .title {
  width: 212px;
  left: 0;
  position: absolute;
  height: 32px;
  top: 0;
}

body .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--title-h3-font-family);
  font-weight: var(--title-h3-font-weight);
  color: var(--dark);
  font-size: var(--title-h3-font-size);
  letter-spacing: var(--title-h3-letter-spacing);
  line-height: var(--title-h3-line-height);
  white-space: nowrap;
  font-style: var(--title-h3-font-style);
  color: var(--dark, #1c1c1c);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
}

body .section5 {
  position: absolute;
  width: 1180px;
  height: 696px;
  top: 1856px;
  left: 130px;
}

body .items-block {
  position: absolute;
  width: 1180px;
  height: 640px;
  top: 56px;
  left: 0;
}

body .layout-alibaba-item {
  position: absolute;
  width: 220px;
  height: 310px;
  top: 330px;
  left: 957px;
}

body .layout-alibaba-item-2 {
  top: 330px;
  left: 718px;
  position: absolute;
  width: 220px;
  height: 310px;
}

body .layout-alibaba-item-3 {
  top: 330px;
  left: 479px;
  position: absolute;
  width: 220px;
  height: 310px;
}

body .layout-alibaba-item-4 {
  top: 330px;
  left: 240px;
  position: absolute;
  width: 220px;
  height: 310px;
}

body .layout-alibaba-item-5 {
  top: 330px;
  left: 1px;
  position: absolute;
  width: 220px;
  height: 310px;
}

body .layout-alibaba-item-6 {
  top: 0;
  left: 960px;
  position: absolute;
  width: 220px;
  height: 310px;
}

body .layout-alibaba-item-7 {
  top: 0;
  left: 720px;
  position: absolute;
  width: 220px;
  height: 310px;
}

body .layout-alibaba-item-8 {
  top: 0;
  left: 480px;
  position: absolute;
  width: 220px;
  height: 310px;
}

body .layout-alibaba-item-9 {
  top: 0;
  left: 240px;
  position: absolute;
  width: 220px;
  height: 310px;
}

body .layout-alibaba-item-10 {
  top: 0;
  left: 0;
  position: absolute;
  width: 220px;
  height: 310px;
}

body .title-2 {
  width: 244px;
  left: 1px;
  position: absolute;
  height: 32px;
  top: 0;
}

body .section3 {
  position: absolute;
  width: 1180px;
  height: 257px;
  top: 1129px;
  left: 130px;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/bg-card-5.svg);
  background-size: 100% 100%;
}

body .overlap-8 {
  position: absolute;
  width: 502px;
  height: 257px;
  top: 0;
  left: 1px;
}

body .overlap-group-wrapper-2 {
  position: absolute;
  width: 282px;
  height: 257px;
  top: 0;
  left: 0;
}

body .overlap-group-5 {
  position: relative;
  width: 280px;
  height: 257px;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/rectangle-293-1.svg);
  background-size: 100% 100%;
}

body .group-5 {
  position: absolute;
  width: 280px;
  height: 257px;
  top: 0;
  left: 0;
}

body .button-base-text-md-wrapper {
  display: inline-flex;
  height: 40px;
  padding: 0px 16px;
  top: 120px;
  background-color: var(--white);
  box-shadow: var(--shadow-sm);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  border-radius: 6px;
  border-color: var(--white);
}
.source {
  border-radius: 6px;
  border: 1px solid var(--white, #fff);
  background: var(--white, #fff);
  display: inline-flex;
  height: 40px;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

body .text-wrapper-12 {
  display: inline-flex;
  align-items: flex-start;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

body .consumer-electronics {
  position: absolute;
  width: 154px;
  top: 20px;
  left: 20px;
  font-family: var(--heading-4-font-family);
  font-weight: var(--heading-4-font-weight);
  color: var(--base-colordark);
  font-size: var(--heading-4-font-size);
  letter-spacing: var(--heading-4-letter-spacing);
  line-height: var(--heading-4-line-height);
  font-style: var(--heading-4-font-style);
  color: var(--base-color-dark, #1c1c1c);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

body .item {
  position: absolute;
  width: 223px;
  height: 127px;
  top: 130px;
  left: 279px;
}

body .overlap-9 {
  position: relative;
  width: 224px;
  height: 127px;
  background-color: #ffffff;
}

body .img-wrapper-2 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 42px;
  left: 140px;
  background-color: #ffffff;
}

body .image {
  position: absolute;
  width: 66px;
  height: 75px;
  top: 4px;
  left: 8px;
}

body .text-wrapper-13 {
  position: absolute;
  width: 138px;
  top: 19px;
  left: 16px;
  font-family: var(--text-base-font-family);
  font-weight: var(--text-base-font-weight);
  color: var(--base-colordark);
  font-size: var(--text-base-font-size);
  letter-spacing: var(--text-base-letter-spacing);
  line-height: var(--text-base-line-height);
  font-style: var(--text-base-font-style);
}

body .from-USD {
  position: absolute;
  width: 98px;
  top: 47px;
  left: 16px;
  font-family: var(--text-small-font-family);
  font-weight: var(--text-small-font-weight);
  color: var(--gray-500);
  font-size: var(--text-small-font-size);
  letter-spacing: var(--text-small-letter-spacing);
  line-height: var(--text-small-line-height);
  font-style: var(--text-small-font-style);
}

body .line {
  width: 1px;
  height: 127px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

body .line-2 {
  width: 222px;
  height: 1px;
  top: 126px;
  left: 1px;
  position: absolute;
  object-fit: cover;
}

body .item-2 {
  position: absolute;
  width: 223px;
  height: 127px;
  top: 3px;
  left: 279px;
}

body .image-2 {
  position: absolute;
  width: 59px;
  height: 71px;
  top: 5px;
  left: 11px;
  object-fit: cover;
}

body .item-3 {
  position: absolute;
  width: 223px;
  height: 127px;
  top: 130px;
  left: 954px;
}

body .image-3 {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 5px;
  left: 5px;
  object-fit: cover;
}

body .item-4 {
  position: absolute;
  width: 224px;
  height: 127px;
  top: 130px;
  left: 729px;
}

body .overlap-10 {
  position: relative;
  width: 225px;
  height: 127px;
  background-color: #ffffff;
}

body .img-wrapper-3 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 42px;
  left: 141px;
  background-color: #ffffff;
}

body .image-4 {
  position: absolute;
  width: 71px;
  height: 71px;
  top: 5px;
  left: 5px;
  object-fit: cover;
}

body .smart-watches {
  width: 139px;
  top: 19px;
  left: 16px;
  letter-spacing: var(--text-base-letter-spacing);
  line-height: var(--text-base-line-height);
  position: absolute;
  font-family: var(--text-base-font-family);
  font-weight: var(--text-base-font-weight);
  color: var(--base-colordark);
  font-size: var(--text-base-font-size);
  font-style: var(--text-base-font-style);
}

body .line-3 {
  position: absolute;
  width: 223px;
  height: 1px;
  top: 126px;
  left: 1px;
  object-fit: cover;
}

body .item-5 {
  position: absolute;
  width: 224px;
  height: 127px;
  top: 130px;
  left: 504px;
}

body .image-5 {
  position: absolute;
  width: 74px;
  height: 58px;
  top: 12px;
  left: 4px;
  object-fit: cover;
}

body .item-6 {
  position: absolute;
  width: 223px;
  height: 127px;
  top: 3px;
  left: 954px;
}

body .image-tech {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 42px;
  left: 140px;
}

body .image-6 {
  position: absolute;
  width: 76px;
  height: 76px;
  top: 3px;
  left: 3px;
  object-fit: cover;
}

body .item-7 {
  position: absolute;
  width: 224px;
  height: 127px;
  top: 3px;
  left: 729px;
}

body .image-7 {
  position: absolute;
  width: 80px;
  height: 79px;
  top: 1px;
  left: 1px;
  object-fit: cover;
}

body .item-8 {
  position: absolute;
  width: 224px;
  height: 127px;
  top: 3px;
  left: 504px;
}

body .image-8 {
  position: absolute;
  width: 76px;
  height: 54px;
  top: 14px;
  left: 3px;
}

body .section3-2 {
  position: absolute;
  width: 1180px;
  height: 257px;
  top: 852px;
  left: 130px;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/bg-card-5.svg);
  background-size: 100% 100%;
}

body .overlap-group-6 {
  position: relative;
  width: 280px;
  height: 257px;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/rectangle-293.svg);
  background-size: 100% 100%;
}

body .button-btn-basic-2 {
  display: inline-flex;
  height: 40px;
  padding: 0px 16px;
  top: 90px;

  background-color: var(--white);
  box-shadow: var(--shadow-sm);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  border-radius: 6px;
  border-color: var(--white);
}

body .consumer-electronics-2 {
  position: absolute;
  width: 130px;
  top: 20px;
  left: 20px;
  font-family: var(--heading-4-font-family);
  font-weight: var(--heading-4-font-weight);
  color: var(--base-colordark);
  font-size: var(--heading-4-font-size);
  letter-spacing: var(--heading-4-letter-spacing);
  line-height: var(--heading-4-line-height);
  font-style: var(--heading-4-font-style);
  color: var(--base-color-dark, #1c1c1c);
  font-feature-settings: "clig" off, "liga" off;

  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.2px;
}

body .image-9 {
  position: absolute;
  width: 81px;
  height: 81px;
  top: 0;
  left: 0;
  object-fit: cover;
}

body .rasm {
  position: absolute;
  width: 67px;
  height: 69px;
  top: 7px;
  left: 8px;
  object-fit: cover;
}

body .image-10 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 3px;
  left: 3px;
  object-fit: cover;
}

body .rasm-2 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 0;
  left: 0;
}

body .image-11 {
  position: absolute;
  width: 78px;
  height: 69px;
  top: 7px;
  left: 2px;
  object-fit: cover;
}

body .image-12 {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 2px;
  left: 4px;
  object-fit: cover;
}

body .image-13 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 0;
  left: 0;
  object-fit: cover;
}

body .image-14 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 4px;
  left: 4px;
  object-fit: cover;
}

body .section2 {
  position: absolute;
  width: 1180px;
  height: 240px;
  top: 592px;
  left: 130px;
}

body .items {
  position: absolute;
  width: 895px;
  height: 235px;
  top: 3px;
  left: 281px;
}

body .item-9 {
  position: absolute;
  width: 179px;
  height: 235px;
  top: 0;
  left: 716px;
  background-color: #ffffff;
}

body .image-wrapper {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 8px;
  left: 20px;
  background-color: #ffffff;
}

body .image-15 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 7px;
  left: 7px;
  object-fit: cover;
}

body .info {
  position: absolute;
  width: 124px;
  height: 59px;
  top: 159px;
  left: 27px;
}

body .badge-orange {
  left: 30px;
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 3px 13px 4px;
  position: absolute;
  top: 31px;
  background-color: #ffe3e3;
  border-radius: 29px;
}

body .pending {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #eb001b;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.2px;
}

body .smart-watches-2 {
  top: 0;
  left: 0;
  text-align: center;
  letter-spacing: var(--text-normal-letter-spacing);
  line-height: var(--text-normal-line-height);
  white-space: nowrap;
  position: absolute;
  font-family: var(--text-normal-font-family);
  font-weight: var(--text-normal-font-weight);
  color: var(--base-colordark);
  font-size: var(--text-normal-font-size);
  font-style: var(--text-normal-font-style);
}

body .line-4 {
  position: absolute;
  width: 1px;
  height: 235px;
  top: 0;
  left: 0;
  object-fit: cover;
}

body .item-10 {
  position: absolute;
  width: 179px;
  height: 235px;
  top: 0;
  left: 537px;
  background-color: #ffffff;
}

body .image-16 {
  position: absolute;
  width: 113px;
  height: 128px;
  top: 6px;
  left: 14px;
}

body .info-2 {
  position: absolute;
  width: 97px;
  height: 59px;
  top: 159px;
  left: 41px;
}

body .pending-wrapper {
  left: 16px;
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 3px 13px 4px;
  position: absolute;
  top: 31px;
  background-color: #ffe3e3;
  border-radius: 29px;
}

body .item-11 {
  position: absolute;
  width: 179px;
  height: 235px;
  top: 0;
  left: 358px;
  background-color: #ffffff;
}

body .image-17 {
  position: absolute;
  width: 129px;
  height: 91px;
  top: 24px;
  left: 6px;
}

body .info-3 {
  position: absolute;
  width: 116px;
  height: 59px;
  top: 159px;
  left: 31px;
}

body .badge-orange-2 {
  left: 26px;
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 3px 13px 4px;
  position: absolute;
  top: 31px;
  background-color: #ffe3e3;
  border-radius: 29px;
}

body .item-12 {
  position: absolute;
  width: 179px;
  height: 235px;
  top: 0;
  left: 179px;
  background-color: #ffffff;
}

body .image-18 {
  position: absolute;
  width: 126px;
  height: 100px;
  top: 21px;
  left: 7px;
  object-fit: cover;
}

body .info-4 {
  position: absolute;
  width: 63px;
  height: 59px;
  top: 159px;
  left: 57px;
}

body .badge-orange-3 {
  left: 0;
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 3px 13px 4px;
  position: absolute;
  top: 31px;
  background-color: #ffe3e3;
  border-radius: 29px;
}

body .smart-watches-3 {
  top: 0;
  left: 1px;
  text-align: center;
  letter-spacing: var(--text-normal-letter-spacing);
  line-height: var(--text-normal-line-height);
  white-space: nowrap;
  position: absolute;
  font-family: var(--text-normal-font-family);
  font-weight: var(--text-normal-font-weight);
  color: var(--base-colordark);
  font-size: var(--text-normal-font-size);
  font-style: var(--text-normal-font-style);
}

body .item-13 {
  position: absolute;
  width: 179px;
  height: 235px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

body .image-19 {
  position: absolute;
  width: 101px;
  height: 121px;
  top: 9px;
  left: 19px;
  object-fit: cover;
}

body .info-5 {
  position: absolute;
  width: 114px;
  height: 59px;
  top: 159px;
  left: 32px;
}

body .badge-orange-4 {
  left: 25px;
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 3px 13px 4px;
  position: absolute;
  top: 31px;
  background-color: #ffe3e3;
  border-radius: 29px;
}

body .text-wrapper-14 {
  top: 0;
  left: 0;
  text-align: center;
  letter-spacing: var(--text-normal-letter-spacing);
  line-height: var(--text-normal-line-height);
  white-space: nowrap;
  position: absolute;
  font-family: var(--text-normal-font-family);
  font-weight: var(--text-normal-font-weight);
  color: var(--dark);
  font-size: var(--text-normal-font-size);
  font-style: var(--text-normal-font-style);
}

body .coundown {
  position: absolute;
  width: 202px;
  height: 113px;
  top: 20px;
  left: 20px;
}

body .time {
  position: absolute;
  width: 198px;
  height: 50px;
  top: 63px;
  left: 0;
}

body .group-6 {
  position: absolute;
  width: 49px;
  height: 50px;
  top: 0;
  left: 0;
}

body .overlap-group-7 {
  position: relative;
  width: 45px;
  height: 50px;
  background-color: #5f5f5f;
  border-radius: 4px;
}

body .text-wrapper-15 {
  left: 11px;
  position: absolute;
  top: 8px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

body .text-wrapper-16 {
  position: absolute;
  top: 27px;
  left: 8px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
}

body .group-7 {
  position: absolute;
  width: 49px;
  height: 50px;
  top: 0;
  left: 51px;
}

body .text-wrapper-17 {
  left: 13px;
  position: absolute;
  top: 8px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

body .group-8 {
  position: absolute;
  width: 49px;
  height: 50px;
  top: 0;
  left: 102px;
}

body .text-wrapper-18 {
  position: absolute;
  top: 27px;
  left: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
}

body .group-9 {
  position: absolute;
  width: 49px;
  height: 50px;
  top: 0;
  left: 153px;
}

body .text-wrapper-19 {
  left: 12px;
  position: absolute;
  top: 8px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

body .text-wrapper-20 {
  position: absolute;
  top: 27px;
  left: 11px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
}

body .overlap-11 {
  position: absolute;
  width: 155px;
  height: 45px;
  top: 0;
  left: 0;
}

body .text-wrapper-21 {
  position: absolute;
  top: 26px;
  left: 0;
  color: var(--gray-500, #8b96a5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body .text-wrapper-22 {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--base-color-dark, #1c1c1c);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}

body .section1 {
  position: absolute;
  top: 162px;
  left: 130px;
}

body .overlap-12 {
  position: relative;
  width: 1180px;
  height: 400px;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/bg-card-2.svg);
  background-size: 100% 100%;
}

body .text-7 {
  position: absolute;
  width: 230px;
  top: 10px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--dark);
  font-size: 16px;
  letter-spacing: 0;
}

body .button-base-text-sm-wrapper {
  display: flex;
  width: 180px;
  height: 30px;
  padding: 0px 10px;
  top: 71px;
  left: 10px;
  background: linear-gradient(
    180deg,
    rgb(18.06, 127.05, 255) 0%,
    rgb(0, 103.06, 255) 100%
  );
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  border-radius: 6px;
  all: unset;
  box-sizing: border-box;
}

body .text-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-btn-btn-small-font-family);
  font-weight: var(--text-btn-btn-small-font-weight);
  color: var(--white);
  font-size: var(--text-btn-btn-small-font-size);
  text-align: center;
  letter-spacing: var(--text-btn-btn-small-letter-spacing);
  line-height: var(--text-btn-btn-small-line-height);
  font-style: var(--text-btn-btn-small-font-style);
}

body .text-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-btn-btn-small-font-family);
  font-weight: var(--text-btn-btn-small-font-weight);
  color: var(--primary);
  font-size: var(--text-btn-btn-small-font-size);
  text-align: center;
  letter-spacing: var(--text-btn-btn-small-letter-spacing);
  line-height: var(--text-btn-btn-small-line-height);
  font-style: var(--text-btn-btn-small-font-style);
}

body .section4 {
  position: absolute;
  width: 1180px;
  height: 420px;
  top: 1406px;
  left: 130px;
}

body .overlap-15 {
  position: relative;
  height: 420px;
}

body .mask-group-wrapper {
  position: absolute;
  width: 1180px;
  height: 420px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/bg-card-1.svg);
  background-size: 100% 100%;
}

body .mask-group {
  width: 1180px;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
}

body .info-6 {
  position: absolute;
  width: 444px;
  height: 139px;
  top: 40px;
  left: 40px;
}

body .text-wrapper-27 {
  position: absolute;
  width: 390px;
  top: 91px;
  left: 0;
  font-family: var(--text-info-font-family);
  font-weight: var(--text-info-font-weight);
  color: #ffffff;
  font-size: var(--text-info-font-size);
  letter-spacing: var(--text-info-letter-spacing);
  line-height: var(--text-info-line-height);
  font-style: var(--text-info-font-style);
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

body .text-wrapper-28 {
  position: absolute;
  width: 440px;
  top: 0;
  left: 0;
  font-family: var(--title-h2-font-family);
  font-weight: var(--title-h2-font-weight);
  color: #ffffff;
  font-size: var(--title-h2-font-size);
  letter-spacing: var(--title-h2-letter-spacing);
  line-height: var(--title-h2-line-height);
  font-style: var(--title-h2-font-style);
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.2px;
}

body .form-block {
  position: absolute;
  width: 493px;
  height: 346px;
  top: 30px;
  left: 658px;
}

body .overlap-16 {
  position: relative;
  width: 495px;
  height: 350px;
  top: -1px;
  left: -2px;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/bg-card.svg);
  background-size: 100% 100%;
}

body .button-btn-basic-4 {
  display: inline-flex;
  padding: 0px 16px;
  top: 282px;
  left: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
}
.sendbtn {
  display: inline-flex;
  height: 40px;
  width: 130px;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  border-radius: 6px;
  background: #127fff;
}
body .form-textarea {
  position: absolute;
  top: 129px;
  left: 22px;
}

body .text-10 {
  position: absolute;
  width: 392px;
  top: 11px;
  left: 11px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 16px;
  letter-spacing: 0;
}

body .resizer {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 59px;
  left: 425px;
}

body .text-wrapper-29 {
  position: absolute;
  width: 332px;
  top: 23px;
  left: 22px;
  font-family: var(--title-h4-font-family);
  font-weight: var(--title-h4-font-weight);
  color: var(--base-colordark);
  font-size: var(--title-h4-font-size);
  letter-spacing: var(--title-h4-letter-spacing);
  line-height: var(--title-h4-line-height);
  font-style: var(--title-h4-font-style);
}

body .form-input-basic {
  position: absolute;
  width: 440px;
  height: 40px;
  top: 69px;
  left: 12px;
  background-size: 100% 100%;
}

body .text-11 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--dark);
  font-size: 16px;
  letter-spacing: 0;
  white-space: nowrap;
}

body .form-input-basic-2 {
  position: absolute;
  width: 206px;
  height: 40px;
  top: 222px;
  left: 22px;
}

body .form-selectbox {
  position: absolute;
  width: 111px;
  height: 40px;
  top: 222px;
  left: 250px;
  border: 1px solid #dee2e7;
}

body .icon-control-expand-2 {
  top: 8px;
  left: 79px;
  position: absolute;
  width: 24px;
  height: 24px;
}

body .line-5 {
  width: 1440px;
  height: 1px;
  top: 55px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

body .border {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 0;
  left: 0;
  object-fit: cover;
}

body .ship-to {
  position: absolute;
  width: 117px;
  height: 24px;
  top: 16px;
  left: 1197px;
}

body .fitness {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: var(--text-title-font-family);
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  font-size: var(--text-title-font-size);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  white-space: nowrap;
  font-style: var(--text-title-font-style);
}

body .image-flags-icon-11 {
  width: 22px;
  height: 16px;
  top: 5px;
  left: 60px;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/de-2x-1@2x.png);
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
}

body .icon-control-expand-3 {
  top: 0;
  left: 91px;
  position: absolute;
  width: 24px;
  height: 24px;
}

body .payment {
  position: absolute;
  width: 126px;
  height: 24px;
  top: 16px;
  left: 1041px;
}

body .icon-control-expand-4 {
  top: 0;
  left: 100px;
  position: absolute;
  width: 24px;
  height: 24px;
}

body .navbar {
  position: absolute;
  width: 630px;
  height: 24px;
  top: 16px;
  left: 130px;
}

body .dropdown {
  position: absolute;
  width: 63px;
  height: 24px;
  top: 0;
  left: 559px;
}

body .icon-control-expand-5 {
  top: 0;
  left: 37px;
  position: absolute;
  width: 24px;
  height: 24px;
}

body .nav {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: var(--text-title-font-family);
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  font-size: var(--text-title-font-size);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  white-space: nowrap;
  font-style: var(--text-title-font-style);
}

body .nav-2 {
  position: absolute;
  top: 1px;
  left: 450px;
  font-family: var(--text-title-font-family);
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  font-size: var(--text-title-font-size);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  white-space: nowrap;
  font-style: var(--text-title-font-style);
}

body .nav-3 {
  left: 359px;
  position: absolute;
  top: 1px;
  font-family: var(--text-title-font-family);
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  font-size: var(--text-title-font-size);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  white-space: nowrap;
  font-style: var(--text-title-font-style);
}

body .nav-4 {
  left: 252px;
  position: absolute;
  top: 1px;
  font-family: var(--text-title-font-family);
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  font-size: var(--text-title-font-size);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  white-space: nowrap;
  font-style: var(--text-title-font-style);
}

body .nav-5 {
  left: 147px;
  position: absolute;
  top: 1px;
  font-family: var(--text-title-font-family);
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  font-size: var(--text-title-font-size);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  white-space: nowrap;
  font-style: var(--text-title-font-style);
}

body .nav-6 {
  left: 30px;
  position: absolute;
  top: 1px;
  font-family: var(--text-title-font-family);
  font-weight: var(--text-title-font-weight);
  color: var(--dark);
  font-size: var(--text-title-font-size);
  letter-spacing: var(--text-title-letter-spacing);
  line-height: var(--text-title-line-height);
  white-space: nowrap;
  font-style: var(--text-title-font-style);
}

body .icon-control-menu {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

body .actions {
  position: absolute;
  width: 228px;
  height: 41px;
  top: 25px;
  left: 1080px;
}

body .cart {
  position: absolute;
  width: 46px;
  height: 41px;
  top: 0;
  left: 184px;
}

body .vector {
  width: 21px;
  height: 21px;
  left: 12px;
  position: absolute;
  top: 0;
}

body .text-wrapper-30 {
  height: 15px;
  top: 26px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  position: absolute;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--gray-500);
  text-decoration: none;
}

body .orders {
  position: absolute;
  width: 41px;
  height: 40px;
  top: 1px;
  left: 127px;
}

body .vector-2 {
  width: 20px;
  height: 18px;
  left: 10px;
  position: absolute;
  top: 0;
}

body .message {
  position: absolute;
  width: 54px;
  height: 40px;
  top: 1px;
  left: 60px;
}

body .vector-3 {
  width: 20px;
  height: 20px;
  left: 16px;
  position: absolute;
  top: 0;
}

body .profile {
  width: 39px;
  height: 41px;
  top: 0;
  position: absolute;
  left: 0;
}

body .vector-4 {
  width: 20px;
  height: 19px;
  left: 8px;
  position: absolute;
  top: 0;
}

body .overlap-17 {
  position: relative;
  width: 667px;
  height: 42px;
  top: -1px;
  left: -1px;
  background-color: #d9d9d9;
  border-radius: 6px;
  border: 1px solid;
  border-color: #0d6efd;
}

body .overlap-18 {
  position: absolute;
  width: 565px;
  height: 40px;
  top: 1px;
  left: 1px;
}

body .form-input-group {
  width: 145px;
  left: 420px;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/---background-5.svg);
  position: absolute;
  height: 40px;
  top: 0;
  background-size: 100% 100%;
}

body .overlap-group-10 {
  position: relative;
  width: 130px;
  height: 24px;
  top: 8px;
  left: 10px;
}

body .text-12 {
  position: absolute;
  width: 130px;
  top: 2px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--dark);
  font-size: 16px;
  letter-spacing: 0;
}

body .icon-control-expand-6 {
  top: 0;
  left: 104px;
  position: absolute;
  width: 24px;
  height: 24px;
}

body .form-input-group-2 {
  width: 421px;
  left: 0;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/---background-3.svg);
  position: absolute;
  height: 40px;
  top: 0;
  background-size: 100% 100%;
}

body .button-btn-group {
  width: 100px;
  left: 565px;
  background-image: url(https://c.animaapp.com/VROlNnt8/img/---background-1.svg);
  background-size: 100% 100%;
  height: 40px;
  position: absolute;
  top: 0;
  all: unset;
  box-sizing: border-box;
}

body body-logo-colored-2 {
  position: absolute;
  width: 150px;
  height: 46px;
  top: 20px;
  left: 130px;
}
